@import 'reset.scss';
@import 'variables.scss';
@import 'mixins.scss';


body,
html {
  font-family: $primary-font;
  font-size: 10px;
}

header {
  height: 100vh;
  background-image: url('../img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
  color: $color1;
  #arrow {
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    width: 40px;
    height: 40px;
    border: 3px solid $color1;
    border-radius: 100%;
    font-size: 3.8rem;
    text-align: center;
    transform: translateX(-50%);
    overflow-y: hidden;
    text-shadow: 0 -15px 0 $color1, 0 -30px 0 $color1;
    box-shadow: $shadowBlack;
    background-color: rgba(0, 0, 0, .35);
  }
  .fa-angle-down {
    animation: arrow 1.6s infinite linear;
  }
  .text-header {
    position: absolute;
    top: 30%;
    padding: 0 2rem;
    text-shadow: $shadowBlack;
    text-align: center;
    h1 {
      font-size: 4rem;
      font-family: $secondary-font;
    }
    h3 {
      font-size: 1.5rem;
      margin-top: 1.2rem;
      line-height: 1.8rem;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: .1rem;
      word-spacing: .2rem;
    }
  }
  .navbar {
    height: 10vh;
    img {
      max-height: 4.5rem;
      max-width: 50%;
      position: absolute;
      top: 2vh;
      left: 2vh;
      filter: drop-shadow(1px 1px 2px #000);
    }
    #menu-bar {
      position: absolute;
      top: 1rem;
      right: 1.8rem;
      font-size: 4rem;
      text-shadow: $shadowBlack;
      z-index: 11;
    }
    nav {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;
      height: 100vh;
      width: 100%;
      background-color: rgba($color1, 0.85);
      text-transform: uppercase;
      ul {
        text-align: center;
        font-size: 5rem;
        margin-top: 10rem;
        line-height: 6rem;
        li a {
          text-decoration: none;
          color: rgba($color2, 0.8);
          font-weight: 500;
          width: 100%;
        }
      }
      display: none;
    }
  } // koniec - header
}

main {
  width: 100vh;
  margin-top: 100vh;
}

@media (orientation: landscape) {
  body,
  html {
    font-size: 8px;
  }
  header .navbar nav ul {
    margin-top: 4.5rem;
  }
}

@media #{$mobile} {
  body,
  html {
    font-size: 12px;
  }
  header .text-header {
    padding: 0 4rem;
  }
  #arrow {
    width: 50px;
    height: 50px;
    border: 3px solid $color1;
  }

}

@media #{$mobileLand} {
  body,
  html {
    font-size: 10px;
  }
}

@media #{$LMobile} {
  body,
  html {
    font-size: 14px;
  }
  header {
    #arrow {
      width: 65px;
      height: 65px;
      border: 4px solid $color1;
    }
    .navbar {
      img {
        top: 2vh;
        left: 3vh;
      }
    }
  } // koniec - header
}

@media #{$LMobileLand} {
  body,
  html {
    font-size: 11px;
  }
  header .text-header {
    padding: 0 5rem;
  }
  #arrow {
    width: 50px;
    height: 50px;
    border: 3px solid $color1;
  }

}

@media #{$tablet} {
  body,
  html {
    font-size: 12px;
  }
  #arrow {
    cursor: pointer;
  }
}

@media #{$LTablet} {
  body,
  html {
    font-size: 16px;
  }
  header {
    .text-header {
      padding: 0 8rem;
      h1 {
        margin-bottom: 2rem;
      }
    }
    #arrow {
      width: 60px;
      height: 60px;
      border: 3px solid $color1;

    }
    .navbar {
      nav {

        //
        //
        //
        //
        //
        //
        //
        //
        //
      }
    }
  }
}

@media #{$desktop} {
  body,
  html {
    font-size: 18px;
  }
}

@media #{$LDesktop} {}






@keyframes arrow {
  0% {
    transform: translateY(-60px)
  }
  50% {
    transform: translateY(0px)
  }
  100% {
    transform: translateY(60px)
  }
}
