@import 'variables.scss';

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
html, body {
  font-size: 15px;
  font-family: $pri-font;
}
.bg {
  min-height: 300px;
  max-height: 1200px;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-attachment: fixed;
  background-size: cover;
}
.bg2 { background-image: url('../img/bg/02.jpg'); }
.bg3 { background-image: url('../img/bg/03.jpg'); }
.bg4 { background-image: url('../img/bg/04.jpg'); }
.bg5 { background-image: url('../img/bg/05.jpg'); }
.bg-header {
  background-image: url('../img/bg/01.jpg');
  height: 100vh;
  width: 100%;
  color: $white;
}
.navbar {
  height: 10vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: $gray;
}
.top-nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  img { height: 100%; }
}
#menu-bar {
  margin-right: 1rem;
  font-size: 2.3rem;
}
#top-menu { 
  display: block;
  width: 100%;
  text-align: center;
  background-color: rgba($white, .95);
  border-bottom: 2px solid $gray;
  text-transform: uppercase;
  letter-spacing: 2px;
  a {
    color: $gray;
    font-size: 1.6rem;
    height: 100%;
    div { 
      padding: .8rem;
      border-bottom: 1px solid $gray;
    }
  }
}
.text-header {
  text-align: center;
  text-shadow: $shadow;
  display: flex;
  height: 100vh;
  width: 100%;
  flex-flow: column nowrap;
  justify-content: space-around;
  position: absolute;
  top: -10vh;
  left: 0;
  padding: 1rem;
  box-sizing: border-box;
  h1 {
    font-family: $sec-font;
    font-size: 3.5rem;
    letter-spacing: 2px;
    font-weight: 100;
    span {
      display: block;
      font-family: $pri-font;
      text-transform: uppercase;
      font-size: .35em;
      font-weight: 500;
      letter-spacing: 0;
      br { display: none; }
    }
  }
}
#arrow {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  width: 40px;
  height: 40px;
  border: 3px solid $white;
  border-radius: 100%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 2.5rem;
  text-shadow: 0 -12px 0 $white, 0 -24px 0 $white;
  overflow: hidden;
  box-shadow: $shadow;
  background: rgba($green, 0.5);
  .fa-angle-down {
    animation: arrow 1.5s infinite linear;
  }
}

article {
  padding: 4rem 1.5rem;
  text-align: justify;
  h1, h3 {
    text-align: center;
    color: $green;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 1rem;
    text-shadow: $shadow;
  }
  h1 { font-size: 2.7rem; }
  h3 { font-size: 1.7rem; }
  p {
    margin-top: 1rem;
  }
}
.styled-list {
  padding-top: .7rem;
  li { padding-left: 1.3rem; }
  li:before {
    content: "\f058";
    font-family: FontAwesome;
    color: $green;
    display: inline-block;
    margin-left: -1.3rem;
    width: 1.3rem;
  }
}
.list-flex > .styled-list + .styled-list {
  padding-top: 0;
}
.btn {
  background-color: $green;
  font-family: $pri-font;
  font-size: 1rem; 
  color: $white;
  border: none;
  display: table;
  width: 100%;
  border-radius: .5rem;
  padding: .7rem;
  margin: 0 auto;
  margin-top: 1rem;
  text-transform: uppercase;
  &:hover {background-color: lighten($green, 5);}
}
hr {
  background-color: $green;
  margin-top: 1rem;
}

h6 {
  color: $green;
  text-align: center;
  text-shadow: $shadow;
  font-size: 1.1rem;
  font-weight: 300;
  text-transform: uppercase;
}

figure {
  text-align: center;
  margin: auto;
  margin-top: 1.5rem;
  width: 100%;
  img { 
    border-radius: .5rem;
    max-width: 100%;
  }
}

#kontakt {
  p {margin-top: 0;}
  i {
    font-size: 1.5rem;
    width: 1.5rem;
    text-align: center;
    margin-right: 1rem;
    color: $green;
  }
}
.contact-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.half-contact-flex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: .5rem;
}
.contact-flex-column {
  display: flex;
  flex-flow: column nowrap;
}
.contact-items {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  padding: .25rem;
}
.bank {
  margin: 1rem .5rem;
  text-align: center;
  .contact-items { justify-content: center; }
}

footer {
  background-color: $green;
  color: $white;
  padding: 2rem 1rem;
  #footer-menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    a {
      color: $white;
      margin: 0 .25rem;
      div {
        display: inline-block;
        padding: .7rem;
        border-radius: .7rem;
        transition: $transition;
        &:hover {
          color: $green;
          background-color: rgba($white, .8); 
        }
      }
    }
  }
}


@media (orientation: landscape) { 
  .text-header h1 span br { display: inline-block; }
  .navbar { height: 15vh; }
}

@media (max-height: 440px) and (orientation: landscape) {
  #top-menu {
    a {
      font-size: 1.3rem;
      div { padding: .5rem; }
    }
  }
}

@media (min-width: 380px) {
  html, body { font-size: 16px; }
  figure { width: 350px; }
}

@media (min-width: 600px) and (orientation: portrait) {
  html, body { font-size: 16px; }
}

@media (min-width: 600px) and (orientation: landscape) {
  article { padding: 4rem 3rem; }
  .btn { width: 70%; }
}

@media (min-width: 768px) {
  .text-header { top: 0; }
  html, body { font-size: 16px; }
}

@media (min-width: 900px) {
  html, body { font-size: 17px; }
  .text-header h1 { font-size: 4rem; }
  .top-nav img { filter: drop-shadow(1px 1px 3px #000); }
  #menu-bar { display: none; }
  .navbar {
    background-color: transparent;
    height: 100px;
  }
  #arrow {
    width: 55px;
    height: 55px;
    font-size: 3.3rem;
    cursor: pointer;
    text-shadow: 0 -15px 0 $white, 0 -30px 0 $white;
  }
  #top-menu {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    background-color: transparent;
    border: none;
    letter-spacing: 0;
    &:last-child { margin-right: 1rem; }
    a {
      color: $white;
      font-size: 1.3rem;
      font-weight: 400;
      transition: $transition;
      box-sizing: border-box;
      &:hover {
        color: $green;
      }
      div {
        border: none;
        text-shadow: $shadow;
        padding-top: 2.2rem;
      }
    }
  }
  .current {
    color: $green !important;
    border-bottom: 10px solid $green;
  }
  .scroll-menu {
    background-color: rgba($gray, .9);
    height: 70px;
  }
  .scroll-menu #top-menu {
    &:last-child { margin-right: 0; }
    a {
      font-size: 1.2rem;
      &:hover {
        border-bottom: 10px solid $green;
      }
      div {
        text-shadow: none;
        padding-top: 1.4rem;
      }
    } 
  }
  hr { margin-top: 2rem; }
  article { padding: 4rem 11rem; }
  article#nagrody { padding: 4rem 3rem; }
  .list-flex {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
  }
  .half { width: 48%; }
  .methods {
    h6 { font-size: 1.5rem; }
    div .hidden-text {
      width: 100%;
      p { text-align: justify; }
    }
    .half .btn { width: 100%; }
  }
  .list-flex > .styled-list + .styled-list {
    padding-top: .7rem;
  }
}




@keyframes arrow {
  0% { transform: translateY(-50px); }
  50% { transform: translateY(0px); }
  100% { transform: translateY(50px); }
}