@font-face {
  font-family: Bauhaus;
  src: url(../fonts/Bauhaus93.ttf); }
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none; }

html, body {
  font-size: 15px;
  font-family: "Quicksand", sans-serif; }

.bg {
  min-height: 300px;
  max-height: 1000px;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-attachment: fixed;
  background-size: cover; }

.bg2 {
  background-image: url("../img/bg/02.jpg"); }

.bg3 {
  background-image: url("../img/bg/03.jpg"); }

.bg4 {
  background-image: url("../img/bg/04.jpg"); }

.bg5 {
  background-image: url("../img/bg/05.jpg"); }

.bg6 {
  background-image: url("../img/bg/06.jpg"); }

.bg-header {
  background-image: url("../img/bg/01.jpg");
  height: 100vh;
  width: 100%;
  color: #ECECEC; }

.navbar {
  height: 10vh;
  max-height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(26, 28, 27, 0.95); }

.top-nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 100%; }
  .top-nav img {
    height: 100%; }

#menu-bar {
  margin-right: 1rem;
  font-size: 2.3rem; }

#top-menu {
  display: block;
  width: 100%;
  text-align: center;
  background-color: rgba(236, 236, 236, 0.95);
  border-bottom: 2px solid #1A1C1B;
  text-transform: uppercase;
  letter-spacing: 2px; }
  #top-menu a {
    color: #1A1C1B;
    font-size: 1.6rem;
    height: 100%; }
    #top-menu a div {
      padding: .8rem;
      border-bottom: 1px solid #1A1C1B; }

.text-header {
  text-align: center;
  text-shadow: 1px 1px 1px #000;
  display: flex;
  height: 100vh;
  width: 100%;
  flex-flow: column nowrap;
  justify-content: space-around;
  position: absolute;
  top: -10vh;
  left: 0;
  padding: 1rem;
  box-sizing: border-box; }
  .text-header h1 {
    font-family: "Bauhaus", cursive;
    font-size: 3.5rem;
    font-weight: 100; }
    .text-header h1 .header-min {
      display: block;
      font-family: "Quicksand", sans-serif;
      text-transform: uppercase;
      font-size: .35em;
      font-weight: 500;
      letter-spacing: 0; }
      .text-header h1 .header-min br {
        display: none; }
    .text-header h1 .green {
      font-style: inherit;
      font-size: inherit;
      color: #32FF32;
      display: inline-block; }

#arrow {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  width: 40px;
  height: 40px;
  border: 3px solid #ECECEC;
  border-radius: 100%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 2.5rem;
  text-shadow: 0 -12px 0 #ECECEC, 0 -24px 0 #ECECEC;
  overflow: hidden;
  box-shadow: 1px 1px 1px #000;
  background: rgba(29, 154, 78, 0.5); }
  #arrow .fa-angle-down {
    animation: arrow 1.5s infinite linear; }

article {
  padding: 4rem 1.5rem;
  text-align: justify; }
  article h1, article h3 {
    text-align: center;
    color: #1D9A4E;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 1rem;
    text-shadow: 1px 1px 1px #000; }
  article h1 {
    font-size: 2.7rem; }
  article h3 {
    font-size: 1.7rem; }
  article p {
    margin-top: 1rem; }

article#produkty {
  padding-bottom: 0; }

article#produkty + article {
  padding-top: 0; }

.styled-list {
  padding-top: .7rem; }
  .styled-list li {
    padding-left: 1.3rem; }
  .styled-list li:before {
    content: "\f058";
    font-family: FontAwesome;
    color: #1D9A4E;
    display: inline-block;
    margin-left: -1.3rem;
    width: 1.3rem; }

.list-flex > .styled-list + .styled-list {
  padding-top: 0; }

.btn {
  background-color: #1D9A4E;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  color: #ECECEC;
  border: none;
  display: table;
  width: 100%;
  border-radius: .5rem;
  padding: .7rem;
  margin: 0 auto;
  margin-top: 1rem;
  text-transform: uppercase; }
  .btn:hover {
    background-color: #21af59; }

.btn-product {
  max-width: 600px;
  margin-top: 2rem; }

hr {
  background-color: #1D9A4E;
  margin-top: 1rem; }

h6 {
  color: #1D9A4E;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
  font-size: 1.1rem;
  font-weight: 300;
  text-transform: uppercase; }

figure {
  text-align: center;
  margin: auto;
  margin-top: 1.5rem;
  width: 100%; }
  figure img {
    border-radius: .5rem;
    max-width: 100%; }

.hidden-text > img {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 1.5rem; }

#kontakt p {
  margin-top: 0; }
#kontakt i {
  font-size: 1.5rem;
  width: 1.5rem;
  text-align: center;
  margin-right: 1rem;
  color: #1D9A4E; }

.contact-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }

.half-contact-flex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: .5rem; }

.contact-flex-column {
  display: flex;
  flex-flow: column nowrap; }

.contact-items {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  padding: .25rem; }
  .contact-items a {
    color: #1A1C1B; }

.bank {
  margin: 1rem .5rem;
  text-align: center; }
  .bank .contact-items {
    justify-content: center; }

footer {
  background-color: #1D9A4E;
  color: #ECECEC;
  padding: 1rem 1rem;
  text-align: center;
  font-size: .9rem; }

.products figure {
  width: 100%;
  max-width: 600px; }

#produkty > p {
  text-align: center; }

@media (orientation: landscape) {
  .text-header h1 .header-min br {
    display: inline-block; }

  .navbar {
    height: 15vh; } }
@media (max-height: 440px) and (orientation: landscape) {
  #top-menu a {
    font-size: 1.3rem; }
    #top-menu a div {
      padding: .5rem; } }
@media (min-width: 380px) {
  html, body {
    font-size: 16px; }

  figure {
    width: 350px; }

  .video-pre {
    width: 100%;
    max-width: 600px; } }
@media (min-width: 600px) and (orientation: portrait) {
  html, body {
    font-size: 16px; } }
@media (min-width: 600px) and (orientation: landscape) {
  article {
    padding: 4rem 3rem; }

  .btn {
    width: 70%; } }
@media (min-width: 768px) {
  .text-header {
    top: 0; }

  html, body {
    font-size: 16px; } }
@media (min-width: 900px) {
  html, body {
    font-size: 17px; }

  .text-header h1 {
    font-size: 4rem; }

  #menu-bar {
    display: none; }

  .navbar {
    background-color: transparent;
    background-image: linear-gradient(rgba(236, 236, 236, 0.8) 0%, rgba(236, 236, 236, 0.5) 25%, rgba(236, 236, 236, 0.2) 45%, rgba(236, 236, 236, 0.1) 60%, transparent 100%);
    max-height: 100px;
    height: 100px;
    transition: all 500ms ease-out 1ms; }
    .navbar img {
      display: none; }

  #arrow {
    width: 55px;
    height: 55px;
    font-size: 3.3rem;
    cursor: pointer;
    text-shadow: 0 -15px 0 #ECECEC, 0 -30px 0 #ECECEC; }

  #top-menu {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    background-color: transparent;
    border: none;
    letter-spacing: 0; }
    #top-menu:last-child {
      margin-right: 1rem; }
    #top-menu a {
      color: #ECECEC;
      font-size: 1.3rem;
      font-weight: 400;
      transition: all 500ms ease-out 1ms;
      box-sizing: border-box; }
      #top-menu a:hover {
        color: #1D9A4E; }
      #top-menu a div {
        border: none;
        text-shadow: 1px 1px 1px #000;
        padding-top: 2.2rem; }

  .navbar:not(.scroll-menu) > #top-menu {
    justify-content: center; }
    .navbar:not(.scroll-menu) > #top-menu a {
      margin: 0 1rem; }
    .navbar:not(.scroll-menu) > #top-menu:last-child {
      margin-right: 0; }

  .current {
    color: #1D9A4E !important;
    border-bottom: 10px solid #1D9A4E; }

  .scroll-menu {
    background-image: none;
    background-color: rgba(26, 28, 27, 0.95);
    max-height: 70px; }
    .scroll-menu .top-nav img {
      display: block;
      z-index: 10;
      cursor: pointer;
      max-width: 242px; }

  .scroll-menu #top-menu:last-child {
    margin-right: 0; }
  .scroll-menu #top-menu a {
    font-size: 1.2rem; }
    .scroll-menu #top-menu a:hover {
      border-bottom: 10px solid #1D9A4E; }
    .scroll-menu #top-menu a div {
      text-shadow: none;
      padding-top: 1.4rem; }

  hr {
    margin-top: 2rem; }

  article {
    padding: 4rem 11rem; }

  article#produkty, article#nagrody {
    padding: 4rem 3rem; }

  .list-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; }

  .half {
    width: 48%; }

  .methods h6 {
    font-size: 1.5rem; }
  .methods div .hidden-text {
    width: 100%; }
    .methods div .hidden-text p {
      text-align: justify; }
  .methods .half .btn {
    width: 100%; }

  .list-flex > .styled-list + .styled-list {
    padding-top: .7rem; }

  .product-hover:hover {
    filter: brightness(70%);
    cursor: pointer; } }
@keyframes arrow {
  0% {
    transform: translateY(-50px); }
  50% {
    transform: translateY(0px); }
  100% {
    transform: translateY(50px); } }

/*# sourceMappingURL=style.css.map */
