// czcionki
$pri-font: 'Quicksand', sans-serif;
$sec-font: 'Alfa Slab One', cursive;

// cienie
$shadow: 1px 1px 5px #000;

// kolory
$white: #ECECEC;
$gray: #1A1C1B;
$green: #1D9A4E;

// przejście
$transition: all 500ms ease-out 1ms;